.gradle/
.metadata

#Ignore all bin folders
bin/
target/
generated/

#Ignore all .settings folders
*/.settings/

#Ignore vi temporary files
*~
*.orig
*.patch
class/
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*