<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.fipro.inverter.http" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.13.0.v20170307-1429"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.13.0.v20170302-2050"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.4.0.v20170215-1555"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
</location>
</locations>
</target>
